@using Microsoft.Ajax.Utilities
@model Domain.Entities.Posts
@{    ViewBag.Title = "Detalle del Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Images.css" rel="stylesheet" />

<h1>Detalle </h1>
<div class="well">
    <a class="pull-left">
        <img height="300" width="500" class="media-object" src="@Html.ValueFor(x => x.Img1)">
    </a>
    <a class="pull-left">
         <img height="300" width="500" class="media-object" src="@Html.ValueFor(x => x.Img2)">
    </a>
    <a class="pull-left">
         <img height="300" width="500" class="media-object" src="@Html.ValueFor(x => x.Img3)">
    </a>
    <a class="pull-left">
        <video height="300" width="500" src="@Html.ValueFor(x => x.Video)"></video>
    </a>

    <h2>@Html.ValueFor(x=> x.Tittle) </h2>
    <p>@Html.ValueFor(x => x.Details) </p>
    @Html.LabelFor(x => x.Price)
    <p>@Html.ValueFor(x => x.Price) </p>
    @Html.LabelFor(x => x.Created)
    <p>@Html.ValueFor(x => x.Created) </p>
    
  @using (Html.BeginForm("Detalle", "Registered", null, FormMethod.Post))
{
        <form class="form-horizontal" action="" method="post">
            <fieldset>
                <legend class="text-center">Contact Seller</legend>

                <!-- Name input-->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="name">Name</label>
                    <div class="col-md-9">
                        <input id="name" name="Name" type="text" placeholder="Your name" class="form-control" required />
                    </div>
                </div>
                <!-- Email input-->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="Mail">Your E-mail</label>
                    <div class="col-md-9">
                        <input id="Mail" name="Mail" type="text" placeholder="Your email" class="form-control" required />
                    </div>
                </div>
                <!-- Message body -->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="message">Your message</label>
                    <div class="col-md-9">
                        <textarea class="form-control" id="message" name="Message" placeholder="Please enter your message here..." rows="5"> </textarea>
                    </div>
                </div>
                <!-- Form actions -->
                <div class="form-group">
                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary" type="submit">Enviar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    }
</div>





