@using Domain.Entities
@model MiPrimerMVC.Models.PostModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Nuevo Post</h1>

@using (Html.BeginForm("NewPost", "Registered", null, FormMethod.Post))
{


        <label class="col-md-3 control-label" for="Tittle">Post Tittle</label>
        <div class="col-md-9">       
            <input id="Tittle" name="Tittle" type="text" placeholder="Titulo" class="form-control" required/>
        </div>

        <label class="col-md-3 control-label" for="Details">Details</label>
        <div class="col-md-9">
            <textarea id="Details" name="Details" placeholder="Descripcion" class="form-control"></textarea>
        </div>

    <label class="col-md-3 control-label" for="Price">Price</label>
    <div class="col-md-9">
        <input id="Price" name="Price" type="number" placeholder="0.00" class="form-control" required />
    </div>
    <label class="col-md-3 control-label" for="BussType">Negociacion</label>
        <div class="col-md-9">
            <input id="BussType" name="BussType" type="text" placeholder="Como va a ser la negociacion" class="form-control" required />
        </div>

    <label class="col-md-3 control-label" for="Img1">Front Image </label>
    <div class="col-md-9">
        <input id="Tag3" name="Img1" type="text" placeholder="Image URL" class="form-control">
    </div>
    <label class="col-md-3 control-label" for="Img2">Image</label>
    <div class="col-md-9">
        <input id="Tag3" name="Img2" type="text" placeholder="Image URL" class="form-control">
    </div>
    <label class="col-md-3 control-label" for="Img3">Image</label>
    <div class="col-md-9">
        <input id="Tag3" name="Img3" type="text" placeholder="Image URL" class="form-control">
    </div>
        <label class="col-md-3 control-label" for="Video">Video</label>
    <div class="col-md-9">
        <input id="Tag3"name="Video" type="text" placeholder="Video URL" class="form-control">
    </div>

    <div>
        <select>
            <option value="null">Seleccione un tag</option>
            @foreach (Tags tag in Model.AllTags)
{
    <option value="@tag.TagName" id="Tag1">@tag.TagName</option>
}
        </select>
        <select>
            <option value="null" >Seleccione un tag</option>
            @foreach (Tags tag in Model.AllTags)
            {
                <option value="@tag.TagName" id="Tag2">@tag.TagName</option>
            }
        </select>
        <select>
            <option value="null" id="Tag3">Seleccione un tag</option>
            @foreach (Tags tag in Model.AllTags)
            {
                <option value="@tag.TagName" id="Tag3">@tag.TagName</option>
            }
        </select>
    </div>
    
    <div class="col-md-12 text-right">
        <button class="btn btn-primary" type="submit">POST!</button>
    </div>

}