@using Domain.Entities
@model MiPrimerMVC.Models.PostModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />
<div class="container">

    <h1>
        </h1>
    <div class="well">
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placekitten.com/150/150">
            </a>
            <div class="media-body">
                <h4 class="media-heading">Receta 1</h4>
                <p class="text-right">By Francisco</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                    Aliquam in felis sit amet augue.
                </p>
                <ul class="list-inline list-unstyled">
                    <li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
                    <li>|</li>
                    <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                    <li>|</li>
                    <li>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </li>
                    <li>|</li>
                    <li>
                        <span><i class="fa fa-facebook-square"></i></span>
                        <span><i class="fa fa-twitter-square"></i></span>
                        <span><i class="fa fa-google-plus-square"></i></span>
                    </li>
                    <li>
                        <span>Detalles</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <h1>My Posts</h1>

    @foreach (Posts post in Model.Cosas)
    {
        if (@post != null && @post.OwnerId == Model.Myid)
        {
            <div class="well">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" width="300" src="@post.Img1">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">@post.Tittle</h4>
                        <p class="text-right">By @post.OwnerName</p>
                        <p>
                            @post.Details
                        </p>
                        <ul class="list-inline list-unstyled">
                            <li><span><i class="glyphicon glyphicon-calendar"></i> @post.Created.Date </span></li>
                            <li>|</li>
                            <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                            <li>
                                <span><i class="fa fa-facebook-square"></i></span>
                                <span><i class="fa fa-twitter-square"></i></span>
                                <span><i class="fa fa-google-plus-square"></i></span>
                            </li>

                            if(post.Archived == true)
                            {
                            <button class="btn-danger">This post is disabled </button>
                            }
                            
                            if(post.AdminArchived == true)
                            {
                            <button class="btn-danger">This post was disabled by the admins</button>
                            }

                            <li>
                                @Html.ActionLink(@post.Id.ToString(), "Detalle", new { @id = @post.Id }, null)
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }
    }


</div>