@using Domain.Entities
@model MiPrimerMVC.Models.PostModel
<!DOCTYPE html>
<link href="~/Content/SideBar.css" rel="stylesheet" />
<link href="~/Content/NewSideBar.css" rel="stylesheet" />

<html>
    <head>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Clasificados", "HomeScreen", "Registered", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "HomeScreen", "Registered")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Guest")</li>
                </ul>
                
                <ul class="nav navbar-right">
                    <li>@Html.ActionLink("Log out", "Logout", "Registered")</li>
                </ul>
            </div>
        </div>
    </div>
    
    

    <div class="container">
        <div id="content" class='row'>
            
            <div class="nav-side-menu navbar-fixed-bottom nav col-md-2  ">
                <div class="brand">Brand Logo</div>
                <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                <div class="menu-list">

                    <ul id="menu-content" class="menu-content collapse out">
                        <li>
                            <a href="#">
                                <i class="fa fa-rocket fa-lg"></i> Dashboard
                            </a>
                        </li>
                        
                        <li>
                            <a href="#">
                                <i class="fa fa-globe fa-lg"></i> @Html.ActionLink("Posts Feed", "HomeScreen", "Registered")
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fa fa-star fa-lg"></i> @Html.ActionLink("Featured", "Featured", "Registered")
                            </a>
                        </li>
                        
                        <li>
                            <a href="#">
                                <i class="fa fa-heart fa-lg"></i> @Html.ActionLink("My Favorites", "WatchListView", "Registered")
                            </a>
                        </li>
                        
                        <li>
                            <a href="#">
                                <i class="fa fa-edit  fa-lg"></i> @Html.ActionLink("Post a Post", "NewPost", "Registered")
                            </a>
                        </li>
                        
                        <li>
                            <a href="#">
                                <i class="fa fa-certificate fa-lg"></i> @Html.ActionLink("My Posts", "MyPostsView", "Registered")
                            </a>
                        </li>
                        
                        <li>
                            <a href="#">
                                <i class="fa fa-user fa-lg"></i> Profile
                            </a>
                        </li>
                        
                        <li data-toggle="collapse" data-target="#Messages" class="collapsed active">
                            <a href="#"><i class="fa fa-envelope fa-lg"></i> My Messages <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="Messages">
                            <li>
                                <a href="#">
                                    <i class="fa fa-inbox fa-lg"></i> @Html.ActionLink("Inbox", "InboxView", "Registered")
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class=" glyphicon glyphicon-send"></i> @Html.ActionLink("Sent", "OutboxView", "Registered")
                                </a>
                            </li>
                        </ul>
                        
                        <li data-toggle="collapse" data-target="#tags" class="collapsed active">
                            <a href="#"><i class="fa fa-gift fa-lg"></i> Categories <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="tags">
                            <li> <a href="#">Trade In Your Electronics</a></li>
                            <li><a href="#">Video Games</a></li>
                            <li><a href="#">Xbox</a></li>
                            <li><a href="#">Electronics Accessories</a></li>
                            <li><a href="#">TV & Video</a></li>
                            <li><a href="#">Musical Instruments</a></li>
                            <li><a href="#">Health & Household</a></li>
                            <li><a href="#">Books</a></li>
                            <li><a href="#">Computer Parts & Components</a></li>
                            <li><a href="#">Laptops & Tablets</a></li>
                        </ul>
                       
                        @if (Model.Role)
                        {
                            <li data-toggle="collapse" data-target="#Admin" class="collapsed active">
                                <a href="#"><i class="fa fa-user-md fa-lg"></i> Admin Tools <span class="arrow"></span></a>
                            </li>
                            <ul class="sub-menu collapse" id="Admin">
                                <li> <a href="#">Answer FAQs</a></li>
                                <li><a href="#">Ban User</a></li>
                                <li><a href="#">Ban Post</a></li>
                                <li><a href="#">Manage Reports</a></li>
                                <li><a href="#">Manage Tags</a></li>
                            </ul> 
                        }
                    </ul>
                </div>
            </div>
            

            <div class="col-md-10 navbar-right container body-content ">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>