@using Domain.Entities
@model MiPrimerMVC.Models.ContactModel
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}




<div>
    <link href="~/Content/Contact.css" rel="stylesheet" />
    <h1>@ViewBag.Title.</h1>
    <h3>@ViewBag.Message</h3>



    <address>
        Clasificados Inc.<br />
        Bo Paz Barahona 12 calle 10 ave San Pedro Sula, Honduras, Centroamerica<br />
        <abbr title="Phone">P:</abbr>
        +504 9870-1833
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@clasificados.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@clasificados.com">Marketing@example.com</a>
    </address>
</div>

<script src="http://maps.google.com/maps/api/js?sensor=false&callback=iniciar">
</script>

<script>
    function iniciar() {
        var mapOptions = {
            center: new google.maps.LatLng(15.5,-88.03),
            zoom: 19,
            mapTypeId: google.maps.MapTypeId.SATELLITE
        };
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
    }
</script>
<div id="map" style="width:800px;height:600px;"></div>


@foreach (Contact faq in Model.Preguntas)
{
    if(@faq.IsAnswered)
     {
      <div class="well">
        <h3>@faq.Message</h3>
        <p>By @faq.Name</p>
        <p>@faq.Answer</p>
    </div>
     }
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well well-sm">
                @using (Html.BeginForm("Contact", "Guest", null, FormMethod.Post))
                {
                    <form class="form-horizontal" action="" method="post">
                        <fieldset>
                            <legend class="text-center">Contact us</legend>
                            <!-- Name input-->
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="name">Name</label>
                                <div class="col-md-9">
                                    <input id="name" name="Name" type="text" placeholder="Your name" class="form-control" required/>
                                </div>
                            </div>
                            <!-- Email input-->
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="Mail">Your E-mail</label>
                                <div class="col-md-9">
                                    <input id="Mail" name="Mail" type="text" placeholder="Your email" class="form-control" required />
                                </div>
                            </div>
                            <!-- Message body -->
                            <div class="form-group">
                                <label class="col-md-3 control-label" for="message">Your message</label>
                                <div class="col-md-9">
                                    <textarea class="form-control" id="message" name="Message" placeholder="Please enter your message here..." rows="5" > </textarea>
                                </div>
                            </div>

                            <!-- Form actions -->
                            <div class="form-group">
                                <div>
                                    <button class="btn btn-primary" type="submit">Enviar</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                }
            </div>
        </div>
    </div>
</div>



